<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">
	<base href="/">

	<title>OptimizedHTML 4</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Template Basic Images Start -->
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="icon" href="img/favicon/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
	<!-- Template Basic Images End -->

	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#000">
	<!-- Custom Browsers Color End -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.common.dev.js" integrity="sha256-/8JQrA+jzyGKb4jpzp+/A28CDO0TS9aSlaDrd6v6htU=" crossorigin="anonymous"></script>

	<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
	<link rel="stylesheet" href="css/main.min.css">




</head>

<body>
	<div class="container-fluid topnav">

		<nav class="container topnav-wrap">
			<div class=topnav-home-wrap>
				<a href="/" class="topnav-home">
					<i class="fa fa-home"></i>
				</a>
			</div>
			<ul class="topnav-list" id="navTopList">
				<li>
					<a href="#" class="topnav-item">О печном центре</a>
				</li>
				<li>
					<a href="#" class="topnav-item">Статьи</a>
				</li>
				<li>
					<a href="#" class="topnav-item">Монтаж</a>
				</li>
				<li>
					<a href="#" class="topnav-item">Наши работы</a>
				</li>
				<li>
					<a href="#" class="topnav-item">Доставка</a>
				</li>
				<li>
					<a href="#" class="topnav-item">Контакты</a>
				</li>
				<li>
					<a href="#" class="topnav-item">Акции</a>
				</li>
				<li>
					<a href="#" class="topnav-item">Товары со скидкой</a>
				</li>
			</ul>
			<batton class="topnav_btn topnav_btn-close" id="navBtn"></batton>
		</nav>
	</div>
	<header class="container-fluid">
		<div class="container">
			<div class="head_wrap">
				<div class="head_logo">
					<div class="head_logo-img" style="cursor: pointer">
						<?xml version="1.0" encoding="utf-8"?>
						<svg version="1.1" id="logo" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
						  xmlns:svg="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
						  xmlns:dc="http://purl.org/dc/elements/1.1/" sodipodi:docname="logo-s.svg" inkscape:version="0.91 r13725" xmlns="http://www.w3.org/2000/svg"
						  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="4.5 0.83333 98.375 98.33334" enable-background="new 4.5 0.83333 98.375 98.33334"
						  xml:space="preserve">
							<sodipodi:namedview inkscape:zoom="0.35" inkscape:cx="-283.57143" id="base" borderopacity="1.0" bordercolor="#666666" pagecolor="#ffffff"
							  inkscape:cy="1205.7143" showgrid="false" inkscape:window-maximized="1" inkscape:pageopacity="0.0" inkscape:window-height="1018"
							  inkscape:current-layer="svg5425" inkscape:window-x="-8" inkscape:window-y="-8" inkscape:window-width="1920" inkscape:pageshadow="2"
							  inkscape:document-units="px">
							</sodipodi:namedview>
							<g id="layer1" inkscape:label="Layer 1" inkscape:groupmode="layer">
								<path id="path4770" inkscape:connector-curvature="0" fill="#4F5A6C" d="M102.36107,49.99997
								c0,26.88167-21.79181,48.67356-48.67357,48.67356S5.01393,76.88168,5.01393,49.99997S26.80574,1.32646,53.6875,1.32646
								S102.36107,23.11832,102.36107,49.99997z" />
								<g id="g4772" transform="matrix(0.33941339,0,0,0.33941339,1007.0117,-670.65219)">
									<g id="g4774">
										<path id="path4776" inkscape:connector-curvature="0" fill="#FF0000" d="M-2842.53174,2089.83301
										c-20.15405,43.27075,62.46191,71.6377,72.28149,13.68188c2.74731-16.21655-13.66528-30.78638-28.6543-36.13965
										c0.60278,7.80176,1.81567,15.3999,8.51855,21.16821c-16.62207,2.51855-17.89307-9.10498-13.8562-26.79712
										c-21.26489,1.99561-31.79395,10.49609-29.0542,34.72437L-2842.53174,2089.83301z" />
										<path id="path4778" inkscape:connector-curvature="0" fill="#F7C735" d="M-2806.90356,2064.82959
										c-23.29004,29.4812-5.92432,69.49854,32.58569,43.26172c-3.96338,23.54468-68.40723,38.78076-66.08911-11.8457
										c5.14087,4.87573,7.5,6.65991,11.60474,4.31665c-4.36475-19.90259,7.81763-35.9541,21.89722-35.73486L-2806.90356,2064.82959z"
										/>
										<path id="path4780" inkscape:connector-curvature="0" fill="#FF9C00" d="M-2807.42358,2065.2915
										c-20.39331,25.8147-2.71143,66.01929,33.04175,42.59546c-4.82593,18.35645-38.63989,25.40503-58.08228,4.13013
										c6.08398-0.01465,11.76636-0.27148,14.4563-2.323c-11.28125-12.45459-9.20361-32.83936,10.58398-44.40015L-2807.42358,2065.2915z
										" />
									</g>
									<path id="y_logo" fill="#F7C735" d="M-2764.82007,2139.17432h-47.27808c-14.86133,0-23.88965-4.88843-30.31592-12.09033
									c-6.427-7.20264-10.02319-17.41772-10.01514-27.87964c0-10.46216,3.57593-20.75879,10.01514-27.97021
									c6.43823-7.21118,15.50781-12.18066,30.31592-12.18066h47.27808c8.771,0.12378,16.83813-7.82983,16.83813-16.60132
									s-8.06714-16.72571-16.83813-16.60193l-47.28076,0.00134c-23.08325,0-42.50269,9.23938-55.03589,23.27905
									c-12.53418,14.03809-18.48315,32.11426-18.49683,49.9834c0,17.87085,5.87085,36.02661,18.40649,50.07568
									c4.54419,5.09302,10.0249,9.51392,16.23657,13.11499l-21.56152,26.729c-5.7666,7.14087-4.65234,17.6062,2.4895,23.37305
									c7.14136,5.7666,17.60596,4.65186,23.37231-2.49048c0.01099-0.0127,0.02197-0.02637,0.03296-0.04053l30.33936-37.70654
									c1.40674,0.06909,2.78345,0.20874,4.21973,0.20874h30.67676l0.1814,26.68018c-0.12378,8.77051,7.83032,16.8374,16.60156,16.8374
									c8.77173,0,16.72607-8.06738,16.60181-16.8374l-0.18237-43.28296
									C-2748.21948,2147.0835-2756.12744,2139.17456-2764.82007,2139.17432z" />
								</g>
							</g>
						</svg>
					</div>
					<div class="head_logo-title">Печной Центр</div>
				</div>


				<div class="head_info-wrap">
					<div class="head_info_main">
						<div class="head_info_main-phone">
							<i class="fa fa-phone"></i>8-800-77-77</div>
						<div class="head_info_main-time">Пн-Вс: 09:00 - 18:00 Без выходных</div>
						<span class="btn_colme">
							<span class="btn_colme-title">Заказать</span>
							<span class="btn_colme-title-smol">обратный звонок</span>
						</span>
					</div>

					<div class="head_info_ofice">
						<div class="head_info_main-ofice">
							<div class="head_info_ofice-title">Центр “Ясенево”</div>
							<div class="head_info_ofice-phone">
								<i class="fa fa-phone"></i>8(495) 745-75-75</div>
							<div class="head_info_ofice-address">
								<i class="fa fa-map-marker"></i>Москва, 38 км. МКАД, вл. 4A стр. 1</div>
						</div>
						<div class="head_info_main-ofice">
							<div class="head_info_ofice-title">Центр "Дмитровский"</div>
							<div class="head_info_ofice-phone">
								<i class="fa fa-phone"></i>8(495) 755-78-78</div>
							<div class="head_info_ofice-address">
								<i class="fa fa-map-marker"></i>Московсквая обл., Дмитровское ш, д. Грибки</div>
						</div>
					</div>
				</div>



				<div class="head_basket">
					<div class="head_basket-img">
						<a>
							<?xml version="1.0" encoding="utf-8"?>
							<svg version="1.1" id="basket" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							  viewBox="0 0 204.33333 203.66667" enable-background="new 0 0 204.33333 203.66667" xml:space="preserve">
								<g>
									<path d="M1.66667,4c2.48813-0.99992,4.92142-2.64858,7.47581-2.8645
								c5.29407-0.4475,10.65414-0.05224,15.9839-0.16036c3.82314-0.07756,5.82525,1.69121,6.55164,5.37919
								c1.57538,7.99841,3.53087,15.93151,4.81423,23.97378c0.63121,3.95554,2.14965,5.08532,6.09919,5.07486
								c49.65356-0.13157,99.3076-0.08647,148.96152-0.08464c1.49944,0.00005,3.00647-0.07177,4.49687,0.0501
								c4.08138,0.33372,6.14432,2.54635,5.42871,6.66301c-4.1326,23.77291-8.40164,47.52224-12.48016,71.30429
								c-0.81282,4.73962-3.65977,5.66241-7.81996,5.65338c-32.4915-0.0705-64.98322-0.0388-97.47488-0.03867
								c-9.47987,0.00003-18.95973,0-28.98696,0c1.04273,5.24285,1.75357,10.13065,3.1292,14.82355
								c0.35035,1.19522,2.7924,2.47871,4.30407,2.5172c9.15839,0.23329,18.32567,0.1181,27.48998,0.11823
								c28.32606,0.0004,56.65212-0.00201,84.97819,0.00616c1.66373,0.00047,3.71014-0.50537,4.90213,0.2675
								c1.8237,1.18251,4.01894,3.16711,4.22427,5.01485c0.15143,1.36278-2.44199,3.31261-4.16266,4.48813
								c-0.92686,0.63319-2.59055,0.22369-3.92178,0.22391c-39.32323,0.00642-78.64647,0.01044-117.9697,0.00046
								c-7.22447-0.00183-7.707-0.45038-9.16527-7.59662c-8.64867-42.38268-17.3069-84.76341-26.0986-127.81407
								c-4.42889,0-8.89776,0.34535-13.27714-0.13139C6.58142,10.5888,4.1561,8.99991,1.66667,8
								C1.66667,6.66667,1.66667,5.33333,1.66667,4z M190.62708,45.83976c-50.63713,0-100.61622,0-150.8765,0
								c4.39145,21.34559,8.66894,42.13726,12.92624,62.8308c42.62329,0,84.70461,0,126.98615,0
								C183.33083,87.65152,186.95761,66.86796,190.62708,45.83976z" />
									<path d="M65.66666,201c-1.29075-0.65654-2.56515-1.34782-3.87488-1.96402
								c-9.15807-4.30856-14.09465-14.29573-11.8353-23.97804c2.23709-9.58691,10.72206-16.29721,20.62562-16.31165
								c10.07386-0.01471,18.64764,6.88744,20.78766,16.73463c2.05805,9.47006-2.8885,19.26552-11.86108,23.52823
								c-1.30206,0.61859-2.56238,1.32506-3.84202,1.99084C72.33333,201,69,201,65.66666,201z M81.7153,179.73915
								c-0.03629-6.17621-4.85673-10.96103-11.05893-10.9772c-6.23928-0.01627-11.03267,4.69215-11.10253,10.90575
								c-0.07134,6.34587,5.00422,11.43726,11.28084,11.31599C76.92067,190.86612,81.75135,185.87387,81.7153,179.73915z" />
									<path d="M153.66667,201c-1.14595-0.58817-2.26825-1.22896-3.44157-1.75618
								c-9.54263-4.28799-14.61172-14.22879-12.3271-24.21948c2.22298-9.72119,11.04616-16.48941,21.21831-16.27646
								c9.99527,0.20924,18.52667,7.5024,20.33247,17.38147c1.7774,9.72366-3.70708,19.48598-13.12517,23.36317
								c-1.21921,0.50191-2.43796,1.00496-3.65694,1.50748C159.66667,201,156.66667,201,153.66667,201z M169.67885,179.92599
								c0.06107-6.1525-4.73137-11.06372-10.89368-11.16371c-6.25348-0.10147-11.13152,4.53372-11.27811,10.71667
								c-0.15144,6.38716,4.79466,11.52214,11.08138,11.50452C164.6593,190.96646,169.61833,186.02214,169.67885,179.92599z"
									/>
								</g>
							</svg>
						</a>
						<div class="head_basket-col"> 5 </div>
					</div>
					<span class="head_basket-sum">75 150 руб.</span>
					<a href="#" class="head_basket-link">Оформить заказ</a>
				</div>
				<span class="btn_colme_mob">
					<span class="btn_colme_mob-title">Заказать</span>
					<span class="btn_colme_mob-title-smol">обратный звонок</span>
				</span>
			</div>
		</div>
	</header>



	<div class="container-fluid search">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-4 col-lg-3">
					<batton class="btn_catalog">Каталог товаров
						<span></span>
					</batton>
				</div>
				<div class="col-sm-12 col-md-8 col-lg-9 search_wrap">
					<form action="/search/" class="form-wrap">
						<input id="search" type="text" name="q" value="" autocomplete="off" class="search-form">
						<button name="s" type="submit" value="" class="search-btn">
							<span>найти</span>
							<i class="fa fa-search"></i>
						</button>
					</form>
				</div>
			</div>

		</div>
	</div>

	<div class="container">
		<h1 class="main_title">Информация о сотрудничестве</h1>
		<div class="breadcrumbs"><ul class="breadcrumb-list">
			<li class="breadcrumb-item" id="bx_breadcrumb_0" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1">
				<a href="/" title="Главная" itemprop="url">
					<span itemprop="title">Главная</span><i class="fa fa-caret-right"></i>
				</a>
			</li>
			<li class="breadcrumb-item" id="bx_breadcrumb_1" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="child">
				<a href="/about/" title="О печном центре" itemprop="url">
					<span itemprop="title">О печном центре</span><i class="fa fa-caret-right"></i>
				</a>
			</li>
			<li class="breadcrumb-item">
				<span>Печникам</span>
			</li></ul></div>
	</div>

	<div class="container">

<div class="atricle_wrap">


	<section class="tester-start appear" id="start">
		<p>Обладаете ли Вы необходимыми знаниями и опытом для работы в качестве печника? Способны ли Вы работать печником? Соответствуете ли Вы почетному званию - Печник?</p>
		<h3 class="prof-title">Предлагаем пройти тест на знание теоретических основ профессии Печник!</h3>
		<p>Тест по программе профессионального обучения  профессии – «16600 Печник», включает 29 вопросов, на знание теории необходимой для работы в качестве печника,  - для строительства печей, каминов и печных комплексов из кирпича.</p>
		<div class="prof-blocks-wrap">
			<div class="prof-block-link">
				<span class="prof-btn" onclick="testStart()">Начать тест</span>
			</div>
			<div class="prof-block-img">
				<img src="https://www.pechnik.su/local/templates/pechniksu/img/images/monter.png" alt="Сотрудничество с печниками и монтажниками">
			</div>
		</div>
	</section>

	<section class="tester-brick disappear">
		<p class="tester-brick-txt">Рассмотрите внимательно рисунок. Найдите соответствие между толщиной стены и его изображением порядовки и толщиной стены в мм в строительных чертежах печеи. Кликом отметте соответсвующие элементы.</p>

		<div class="tester-brick-wrap">
			<div class="tester-brick-wrap-one">
				<div class="tester-brick-elem" data-line="1" data-colomn="one">Толщина в 1 кирпич</div>
				<div class="tester-brick-elem" data-line="2" data-colomn="one">Толщина в 2,5 кирпича</div>
				<div class="tester-brick-elem" data-line="3" data-colomn="one">Толщина в 0,5 кирпича</div>

			</div>
			<div class="tester-brick-wrap-two">
				<div class="tester-brick-elem" data-line="3" data-colomn="two">
					<img src="/img/test/brick-05.png" alt="Кладка печи в пол-кирпича" class="tester-brick-img">
				</div>
				<div class="tester-brick-elem" data-line="1" data-colomn="two">
					<img src="/img/test/brick-1.png" alt="Кладка печи в один кирпич" class="tester-brick-img">
				</div>
				<div class="tester-brick-elem" data-line="2" data-colomn="two">
					<img src="/img/test/brick-2-5.png" alt="Кладка печи в два с половиной кирпича" class="tester-brick-img">
				</div>

			</div>
				<div class="tester-brick-wrap-three">
					<div class="tester-brick-elem" data-line="2" data-colomn="three">640 мм</div>
					<div class="tester-brick-elem" data-line="1" data-colomn="three">250 мм</div>
					<div class="tester-brick-elem" data-line="3" data-colomn="three">120 мм</div>
				</div>
		</div>
	</section>

	<section class="tester-elem disappear">
		<p class="tester-brick-txt">Рассмотрите внимательно рисунок. Найдите соответствие между элементами чертежей печей и их названием. Кликом отметте соответсвующие элементы.</p>
		<div class="tester-elem-wrap">

			<div class="tester-elem-wrap-one">
				<div class="tester-elem-elem" data-draw="1">
					<img src="/img/test/brick-top.png" alt="Кирпич отёсанный сверху" class="tester-elem-img">
				</div>
				<div class="tester-elem-elem" data-draw="2">
					<img src="/img/test/brick-bottom.png" alt="Кирпич отёсанный снизу" class="tester-elem-img">
				</div>

				<div class="tester-elem-elem" data-draw="3">
					<img src="/img/test/viushka.png" alt="Вьюшка печи  - чертеж" class="tester-elem-img">
				</div>
				<div class="tester-elem-elem" data-draw="4">
					<img src="/img/test/zadvizka.png" alt="Вьюшечная задвижка чертеж" class="tester-elem-img">
				</div>

				<div class="tester-elem-elem" data-draw="5">
					<img src="/img/test/lolosnik.png" alt="Колосниковая решётка - чертеж" class="tester-elem-img">
				</div>

				<div class="tester-elem-elem" data-draw="6">
					<img src="/img/test/door.png" alt="Чертеж - Дверка для печи" class="tester-elem-img">
				</div>
			</div>

			<div class="tester-elem-wrap-two">
				<div class="tester-elem-elem" data-name="5" >Колосниковая решётка</div>
				<div class="tester-elem-elem" data-name="3" >Вьюшка</div>
				<div class="tester-elem-elem" data-name="6" >Дверка</div>
				<div class="tester-elem-elem" data-name="1" >Кирпич отёсанный сверху</div>
				<div class="tester-elem-elem" data-name="4" >Вьюшечная задвижка</div>
				<div class="tester-elem-elem" ddata-name="2">Кирпич отёсанный снизу</div>
			</div>

		</div>
	</section>


<section class="tester_quest-wrup disappear" id="quest_0">
	<h3>Размеры одинарного кирпича 250 x 120 x_____ мм: </h3>
	<p class="tester_quest-p" data-answer="0">A. 88 мм;</p>
	<p class="tester_quest-p" data-answer="1">B. 65 мм;</p>
	<p class="tester_quest-p" data-answer="0">C. 120 мм.</p>
</section>
<section class="tester_quest-wrup disappear" id="quest_1">
	<h3>Каменщик подгребает раствор передней гранью кирпича, прижимает к ранее уложенному и нажатием руки осаживает до требуемой толщины шва с одновременной подрезкой излишков раствора – способ укладки кирпича:</h3>
	<p class="tester_quest-p" data-answer="1">A. вприсык с подрезкой;</p>
	<p class="tester_quest-p" data-answer="0">B. вприжим;</p>
	<p class="tester_quest-p" data-answer="0">C. вполуприсык.</p>
</section>
<section class="tester_quest-wrup disappear" id="quest_2">
	<h3>Кладка, у которой наружная верста выложена из отборного окрашенного или офактуренного кирпича, называется:</h3>
	<p class="tester_quest-p" data-answer="0">A. декоративной кладкой;</p>
	<p class="tester_quest-p" data-answer="0">B. облегчённой кладкой;</p>
	<p class="tester_quest-p" data-answer="1">C. лицевой кладкой.</p>
</section>
<section class="tester_quest-wrup disappear" id="quest_3">
	<h3>Пространство, в пределах которого трудится звено или бригада с выданным им инвентарём, приспособлениями и т.д., называют:</h3>
	<p class="tester_quest-p" data-answer="0">А. делянкой;</p>
	<p class="tester_quest-p" data-answer="0">В. захваткой;</p>
	<p class="tester_quest-p" data-answer="1">С. фронтом работы.</p>
</section>
<section class="tester_quest-wrup disappear" id="quest_4">
	<h3>А5. При кладке ложковых рядов растворная постель шириной:</h3>
	<p class="tester_quest-p" data-answer="1">А. 10 -11см;</p>
	<p class="tester_quest-p" data-answer="0">В. 2 – 2,5 см;</p>
	<p class="tester_quest-p" data-answer="0">С. 2,5 – 3 см.</p>
</section>
<section class="tester_quest-wrup disappear" id="quest_5">
	<h3>Кладка, состоящая из чередующихся рядов, в которых тычковые и ложковые кирпичи расположены поочерёдно, называют:</h3>
	<p class="tester_quest-p" data-answer="1">A. готической;</p>
	<p class="tester_quest-p" data-answer="0">B. крестовой;</p>
	<p class="tester_quest-p" data-answer="0">C. лицевой.</p>
</section>
<section class="tester_quest-wrup disappear" id="quest_6">
	<h3>Когда необходимо полное заполнение швов раствор расстилают грядкой отступающей от стены:</h3>
	<p class="tester_quest-p" data-answer="1">А. на 1 см;</p>
	<p class="tester_quest-p" data-answer="0">В. на 2 см;</p>
	<p class="tester_quest-p" data-answer="0">С. на 3 см.</p>
</section>
<section class="tester_quest-wrup disappear" id="quest_7">
	<h3>Колосниковые решётки следует располагать ниже топочного отверстия:</h3>
	<p class="tester_quest-p" data-answer="0">А.) на три - четыре ряда кладки;</p>
	<p class="tester_quest-p" data-answer="1">Б.) на один - два ряда кладки;</p>
	<p class="tester_quest-p" data-answer="0">В.) на три - пять рядов кладки.</p>
</section>
<section class="tester_quest-wrup disappear" id="quest_8">
	<h3>Колосниковые решётки следует располагать с зазором между решеткой и кладкой по всему периметру не менее:</h3>
	<p class="tester_quest-p" data-answer="1">А.) 5 мм;</p>
	<p class="tester_quest-p" data-answer="0">Б.) 10 мм;</p>
	<p class="tester_quest-p" data-answer="0">В.) 15 мм.</p>
</section>
<section class="tester_quest-wrup disappear" id="quest_9">
	<h3>Прорези колосниковой решётки всегда располагают:</h3>
	<p class="tester_quest-p" data-answer="0">А.) поперёк топливника;</p>
	<p class="tester_quest-p" data-answer="0">Б.) вертикально топливнику;</p>
	<p class="tester_quest-p" data-answer="1">В.) вдоль топливника.</p>
</section>
<section class="tester_quest-wrup disappear" id="quest_10">
	<h3>На пол укладывают два слоя асбеста или войлока, вымоченного:</h3>
	<p class="tester_quest-p" data-answer="0">А.) в цементном растворе;</p>
	<p class="tester_quest-p" data-answer="1">Б.) в глиняном растворе;</p>
	<p class="tester_quest-p" data-answer="0">В.) в известковом растворе.</p>
</section>
<section class="tester_quest-wrup disappear" id="quest_11">
	<h3>Шанцы—кирпичные стенки высотой: </h3>
	<p class="tester_quest-p" data-answer="1">А.) 140 мм;</p>
	<p class="tester_quest-p" data-answer="0">Б.) 65 мм;</p>
	<p class="tester_quest-p" data-answer="0">В.) 120мм.</p>
</section>
<section class="tester_quest-wrup disappear" id="quest_12">
	<h3> Небольшая приставная стенка к кухонным плитам с дымооборотами внутри:</h3>
	<p class="tester_quest-p" data-answer="0">А.) топливник;</p>
	<p class="tester_quest-p" data-answer="0">Б.) самостоятельная топка;</p>
	<p class="tester_quest-p" data-answer="1">В.) отопительный щиток.</p>
</section>
<section class="tester_quest-wrup disappear" id="quest_13">
	<h3>Толщина швов печной кладки, из тугоплавкого и огнеупорного кирпича:</h3>
	<p class="tester_quest-p" data-answer="1">А.) 3 мм;</p>
	<p class="tester_quest-p" data-answer="0">Б.) 10мм;</p>
	<p class="tester_quest-p" data-answer="0">В.) 5мм.</p>
</section>
<section class="tester_quest-wrup disappear" id="quest_14">
	<h3>Допускаются неровности на лицевых сторонах печи—не более:</h3>
	<p class="tester_quest-p" data-answer="1">А.) 5мм;</p>
	<p class="tester_quest-p" data-answer="0">Б.) 10мм;</p>
	<p class="tester_quest-p" data-answer="0">В.) 6мм.</p>
</section>
<section class="tester_quest-wrup disappear" id="quest_15">
	<h3>Толщина швов кладки труб на известковом (или сложном растворе) допускается до:</h3>
	<p class="tester_quest-p" data-answer="0">А.) 15мм;</p>
	<p class="tester_quest-p" data-answer="0">Б.) 12мм;</p>
	<p class="tester_quest-p" data-answer="1">В.) 10 мм.</p>
</section>
<section class="tester_quest-wrup disappear" id="quest_16">
	<h3> Перекрытие, устраиваемое между стенами:</h3>
	<p class="tester_quest-p" data-answer="0">А.) перемычка;</p>
	<p class="tester_quest-p" data-answer="0">Б.) арка;</p>
	<p class="tester_quest-p" data-answer="1">В.) свод.</p>
</section>
<section class="tester_quest-wrup disappear" id="quest_17">
	<h3>Любую перемычку начинают с закладки: </h3>
	<p class="tester_quest-p" data-answer="1">А.) пят;</p>
	<p class="tester_quest-p" data-answer="0">Б.) замкового кирпича;</p>
	<p class="tester_quest-p" data-answer="0">В.) подошвы.</p>
</section>
<section class="tester_quest-wrup disappear" id="quest_18">
	<h3> Шаблон для кладки арочной перемычки:</h3>
	<p class="tester_quest-p" data-answer="0">А.) форма;</p>
	<p class="tester_quest-p" data-answer="0">Б.) арка;</p>
	<p class="tester_quest-p" data-answer="1">В.) кружало.</p>
</section>
<section class="tester_quest-wrup disappear" id="quest_19">
	<h3> Трубы выполняют в виде отдельного стояка на прочном фундаменте:</h3>
	<p class="tester_quest-p" data-answer="1">А.) коренные;</p>
	<p class="tester_quest-p" data-answer="0">Б.) насадные;</p>
	<p class="tester_quest-p" data-answer="0">В.) дымовые.</p>
</section>


<div id="resault">
	<div class="tester_analysis" v-show="show">

			<div class="tester_resault">
				<div class="tester_resault-wrap">
					<div class="tester_resault-mark" v-bind:class="classWrong">{{ mark }}</div>
					<div class="tester_resault-balls">правильно: <span v-bind:class="classWrong">{{ karma }}</span> из 29</div>
					<h3 class="tester_resault-title">{{ title }}</h3>
				</div>
			</div>

		<div class="tester_analysis-step-1" v-show="Object.keys(stepOne).length !== 0">
			<p class="tester-brick-txt"></p><b>Вопрос: </b>Найдите соответствие между толщиной стены и его изображением порядовки и толщиной стены в мм в строительных чертежах печеи. Кликом отметте соответсвующие элементы.</p>

			<div class="tester_analysis-one" v-for="element in stepOne">
				<h3>Ваш ответ:</h3>
				<div class="tester-brick-wrap">
					<div class="tester-brick-wrap-one">
						<div class="tester-brick-error">{{element.mistake.one}}</div>
					</div>
					<div class="tester-brick-wrap-two">
						<div class="tester-brick-error">
							<img v-bind:src="element.mistake.two" class="tester-brick-img">
						</div>
					</div>
					<div class="tester-brick-wrap-three">
						<div class="tester-brick-error">{{element.mistake.three}}</div>
					</div>
				</div>
				<h3>Правильный ответ:</h3>
				<div class="tester-brick-wrap">
					<div class="tester-brick-wrap-one">
						<div class="tester-brick-choice">{{element.right.one}}</div>
					</div>
					<div class="tester-brick-wrap-two">
						<div class="tester-brick-choice">
							<img v-bind:src="'http://localhost:3000/img/test/'+element.right.two" alt="Кладка печи в два с половиной кирпича" class="tester-brick-img">
						</div>
					</div>
					<div class="tester-brick-wrap-three">
						<div class="tester-brick-choice" >{{element.right.three}}</div>
					</div>
				</div>
			</div>
		</div> <!--Первый step-->

		<div class="tester_analysis-step-2" v-show="Object.keys(stepTwo).length !== 0">
				<p class="tester-brick-txt"><b>Вопрос: </b>Найдите соответствие между элементами чертежей печей и их названием. Отметте соответсвующие элементы.</p>

			<div class="tester_analysis-two" v-for="elem in stepTwo">
				<h3>Ваш ответ:</h3>
				<div class="tester-elem-wrap">
					<div class="tester-elem-wrap-one">
						<div class="tester-elem-error">
							<img  :src="elem.mistake.draw" class="tester-elem-img">
						</div>
					</div>
					<div class="tester-elem-wrap-two">
						<div class="tester-elem-error">{{ elem.mistake.name }}</div>
					</div>
				</div>

				<h3>Правильный ответ:</h3>
				<div class="tester-elem-wrap">
					<div class="tester-elem-wrap-one">
						<div class="tester-elem-choice">
							<img :src="'http://localhost:3000/img/test/'+elem.right.img"  class="tester-elem-img">
						</div>
					</div>
					<div class="tester-elem-wrap-two">
						<div class="tester-elem-choice">{{ elem.right.name }}</div>
					</div>
				</div>

			</div>


		</div>


		<div class="tester_analysis-step-3" v-show="Object.keys(stepThree).length !== 0">

			<div class="tester_analysis-three" v-for="element in stepThree">
				<p class="tester_analysis-question"> <b>Вопрос: </b>{{element.question}}</p>
				<p class="tester_quest-error">Выбран ответ: <span class="tester_quest-error-txt">{{element.mistake}}</span></p>
				<p class="tester_quest-true">Правильный ответ: <span class="tester_quest-true-txt">{{element.right}}</span></p>
			</div>

		</div>







	</div>
</div>


</div><!--WRAPPER - статьи-->



<script>

	let order = 0;
	let karma = 0;
	let colomn = { one: false, two: false, three: false };
	let wrongList = [];
	let wrongListElements = [];
	let wrongListQuests = [];
	let right = [
		{ one: 'Толщина в 1 кирпич', two: 'brick-1.png', three: '250 мм' },
		{ one: 'Толщина в 0,5 кирпича', two: 'brick-05.png', three: '120 мм' },
		{ one: 'Толщина в 2,5 кирпича', two: 'brick-2-5.png', three: '640 мм' }
	];
	let right2 = {
			1 : { img: 'brick-top.png', name: 'Кирпич отёсанный сверху' },
			2 : { img: 'brick-bottom.png', name: 'Кирпич отёсанный снизу' },
			3 : { img: 'viushka.png', name: 'Вьюшка' },
			4 : { img: 'zadvizka.png', name: 'Вьюшечная задвижка' },
			5 : { img: 'lolosnik.png', name: 'Колосниковая решётка' },
			6 : { img: 'door.png', name: 'Дверка' }
		};
		let right3 = {
			'0': {
				'name': 'Размеры одинарного кирпича 250 x 120 x_____ мм:',
				'answer': 'B. 65 мм;'
			},
			'1': {
				'name': 'Каменщик подгребает раствор передней гранью кирпича, прижимает к ранее уложенному и нажатием руки осаживает до требуемой толщины шва с одновременной подрезкой излишков раствора – способ укладки кирпича:',
				'answer': 'A. вприсык с подрезкой;'
			},
			'2': {
				'name': 'Кладка, у которой наружная верста выложена из отборного окрашенного или офактуренного кирпича, называется:',
				'answer': 'C. лицевой кладкой.'
			},
			'3': {
				'name': 'Пространство, в пределах которого трудится звено или бригада с выданным им инвентарём, приспособлениями и т.д., называют:',
				'answer': 'С. фронтом работы.'
			},
			'4': {
				'name': 'А5. При кладке ложковых рядов растворная постель шириной:',
				'answer': 'А. 10 -11см;'
			},
			'5': {
				'name': 'Кладка, состоящая из чередующихся рядов, в которых тычковые и ложковые кирпичи расположены поочерёдно, называют:',
				'answer': 'A. готической;'
			},
			'6': {
				'name': 'Когда необходимо полное заполнение швов раствор расстилают грядкой отступающей от стены:',
				'answer': 'А. на 1 см;'
			},
			'7': {
				'name': 'Колосниковые решётки следует располагать ниже топочного отверстия:',
				'answer': 'Б.) на один - два ряда кладки;'
			},
			'8': {
				'name': 'Колосниковые решётки следует располагать с зазором между решеткой и кладкой по всему периметру не менее:',
				'answer': 'А.) 5 мм;'
			},
			'9': {
				'name': 'Прорези колосниковой решётки всегда располагают:',
				'answer': 'В.) вдоль топливника.'
			},
			'10': {
				'name': 'На пол укладывают два слоя асбеста или войлока, вымоченного:',
				'answer': 'Б.) в глиняном растворе;'
			},
			'11': {
				'name': 'Шанцы—кирпичные стенки высотой: ',
				'answer': 'А.) 140 мм;'
			},
			'12': {
				'name': 'Небольшая приставная стенка к кухонным плитам с дымооборотами внутри:',
				'answer': 'В.) отопительный щиток.'
			},
			'13': {
				'name': 'Толщина швов печной кладки, из тугоплавкого и огнеупорного кирпича:',
				'answer': 'А.) 3 мм;'
			},
			'14': {
				'name': 'Допускаются неровности на лицевых сторонах печи—не более:',
				'answer': 'А.) 5мм;'
			},
			'15': {
				'name': 'Толщина швов кладки труб на известковом (или сложном растворе) допускается до:',
				'answer': 'В.) 10 мм.'
			},
			'16': {
				'name': 'Перекрытие, устраиваемое между стенами:',
				'answer': 'В.) свод.'
			},
			'17': {
				'name': 'Любую перемычку начинают с закладки:',
				'answer': 'А.) пят;'
			},
			'18': {
				'name': 'Шаблон для кладки арочной перемычки:',
				'answer': 'В.) кружало.'
			},
			'19': {
				'name': 'Трубы выполняют в виде отдельного стояка на прочном фундаменте:',
				'answer': 'А.) коренные;'
			}
		};


	function testStart() {
		changeClass(document.getElementById('start'));
		changeClass(document.querySelector('.tester-brick'));

		let brickList = document.querySelectorAll('.tester-brick-elem');

		for (let i = 0; i < brickList.length; i++) {
			brickList[i].onclick = function () {
				let parentClass = this.parentNode;
				let parent = this.parentNode.querySelectorAll('.tester-brick-elem');
				for (let c = 0; c < parent.length; c++) {
					if (parent[c].classList.contains('choice')) {
						parent[c].classList.remove('choice');
					}
				}
				if (!this.classList.contains('choice')) {
					this.classList.add('choice');
				}
				if (parentClass.classList.contains('tester-brick-wrap-one')) colomn.one = true;
				if (parentClass.classList.contains('tester-brick-wrap-two')) colomn.two = true;
				if (parentClass.classList.contains('tester-brick-wrap-three')) colomn.three = true;
				if (colomn.one && colomn.two && colomn.three) {
					let choiceList = document.querySelectorAll('.choice');

					let dataLine = [];

					choiceList.forEach(function (item, i, arr) {
						dataLine[item.dataset.colomn] = item.dataset.line;
					});

					if (dataLine.one !== dataLine.two || dataLine.one !== dataLine.three || dataLine.two !== dataLine.three) {
						let wrongElem = [];
						let rightElem = [];
						let wrong = {
							mistake: [],
							right: []
							}
						choiceList.forEach(function (item, i, arr) {
							if (item.dataset.colomn == 'two') wrongElem[item.dataset.colomn] = item.querySelector('img').src;
							else wrongElem[item.dataset.colomn] = item.innerText;
						});
						wrong.mistake = wrongElem;

						for (i = 0; i < right.length; i++) {
							if (right[i]['one'] == wrongElem['one']) {
								rightElem = right[i];
							}
						}
						wrong.right = rightElem;
						wrongList.push(wrong);
					} else {
						karma++;
						console.log(karma);
					}
					for (let i = 0; i < choiceList.length; i++) {
						choiceList[i].classList.remove('tester-brick-elem');
						choiceList[i].classList.remove('choice');
						choiceList[i].classList.add('tester-brick-choice');
						choiceList[i].style.order = order;
					}
					colomn.one = false;
					colomn.two = false;
					colomn.three = false;
					order++;
					if (order === 3) {
						changeClass(document.querySelector('.tester-brick'));
						order = 0;
						secondStep();
					}
				}
			};
		};
	}


	function secondStep() {
		changeClass(document.querySelector('.tester-elem'));
		let elemListsList = document.querySelectorAll('.tester-elem-elem');

		for(let i=0; i< elemListsList.length; i++){
			elemListsList[i].onclick = function(){
				let parentClass = this.parentNode;
				let parent = this.parentNode.querySelectorAll('.tester-elem-elem');
				for (let c = 0; c < parent.length; c++) {
					if (parent[c].classList.contains('choice')) {
						parent[c].classList.remove('choice');
					}
				}
				if (!this.classList.contains('choice')) {
					this.classList.add('choice');
				}
				if (parentClass.classList.contains('tester-elem-wrap-one')) colomn.one = true;
				if (parentClass.classList.contains('tester-elem-wrap-two')) colomn.two = true;
				if (colomn.one && colomn.two) {
					let choiceList = document.querySelectorAll('.choice');
					let dataDraw = 0;
					let dataName = 0;
					choiceList.forEach(function(item){
						if(item.dataset.draw) dataDraw = item.dataset.draw;
						if(item.dataset.name) dataName = item.dataset.name;
					});
					if(dataDraw !== dataName){
						let wrong = {
							mistake: [],
							right: []
						}
						choiceList.forEach(function (item) {
							if (item.dataset.draw) wrong.mistake['draw'] = item.querySelector('img').src;
							if (item.dataset.name) wrong.mistake['name'] = item.innerText;
						});
						wrong.right = right2[dataDraw];
						wrongListElements.push(wrong);
					} else {
						karma++;
					}
					order++;
					for (let i = 0; i < choiceList.length; i++) {
						choiceList[i].classList.remove('tester-elem-elem');
						choiceList[i].classList.remove('choice');
						choiceList[i].classList.add('tester-elem-choice');
						choiceList[i].style.order = order;
					}
					colomn.one = false;
					colomn.two = false;
				}
				if (order === 6) {
					changeClass(document.querySelector('.tester-elem'));
					order = 0;
					changeClass(document.getElementById('quest_0'));
					thirdStep();
				}

			}
		}
	}
	function thirdStep() {
		let quest = 0;
		let QuestList = document.querySelectorAll('.tester_quest-p');
		let QuestWrap = document.querySelectorAll('.tester_quest-wrup');

		for (i = 0; i < QuestList.length; i++) {
			QuestList[i].onclick = goStep;
		}
		function goStep(event) {
			if (event.target.dataset.answer != 1) {
				let wrong = {
					mistake: '',
					question: '',
					right: ''
				};
				wrong.mistake = event.target.innerText;
				wrong.question = right3[quest].name;
				wrong.right = right3[quest].answer;
				wrongListQuests.push(wrong);
			} else {
				karma++;
				console.log(karma);
			}
			if (quest < 19) {

				/*QuestWrap.forEach(function(elem){
					elem.classList.toggle('appear');
				});
				*/
				changeClass(document.getElementById('quest_' + quest));
				quest++;
				changeClass(document.getElementById('quest_' + quest));
			} else {
				changeClass(document.getElementById('quest_19'));
				// Свойство объекта VUE.JS - обработка результатов теста
				resault.show = true;
				resault.karma = karma;
				resault.stepOne = wrongList;
				resault.stepTwo= wrongListElements;
				resault.stepThree = wrongListQuests;
				resault.show = true;

			}
		}
	}
	/* - Замена классов для анимации -*/
	function changeClass(elem) {
		if (elem.classList.contains('appear')) {
			elem.classList.remove('appear');
			elem.classList.add('disappear');
		} else {
			elem.classList.remove('disappear');
			elem.classList.add('appear');
		}
	}

	var resault = new Vue({
		el: '#resault',
		data: {
			show: false,
			showOne: false,
			showTwo: false,
			showThree: false,
			karma: 0,

			mount: 0,
			title: '',
			classWrong: '',

			stepOne: {},
			stepTwo: {},
			stepThree: {}
		},
		computed: {
			mark: function () {
				if(this.karma > 27) {
					this.title = 'Вы достойны носить звание - Печник!';
					this.classWrong ='excellent';
					return '«Отлично»';
				}
				if(this.karma > 24 && karma < 28){
					this.title = 'Вы вполне достойны носить звание - Печник!';
					this.classWrong = 'excellent'
					return '«Хорошо»';
				}
				if (this.karma > 14 && karma < 25) {
					this.title = 'Вы можете назвать себя Печник, но Вам следует подучиться.';
					this.classWrong = 'sufficient';
					return '«Удовлетворительно»,';
				}
				if (this.karma < 15) {
					this.title = 'Вы недостойны носить звание - Печник!';
					this.classWrong ='insufficient';
					return '«Неудовлетворительно»';
				}
			}




		},
	})
</script>















	</div>
	<! -- END - CONTAINER -->

	<footer>
		<div class="foot_soc">
				<span class="foot_soc-btnBlok">
						<span class="foot_soc-btn vk" data-link="https://vk.com/pechnik_su">
								<?xml version="1.0" encoding="utf-8"?>
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										viewBox="0 0 150 150" enable-background="new 0 0 150 150" xml:space="preserve">
								<path fill="#5E6C97" d="M75.0947189,149.9999695h0.0730057c41.4011841,0,74.9634705-33.5624008,74.9634705-74.9634705v-0.036705
									c0-41.4212799-33.5786057-74.9998245-74.9998856-74.9998245H75.131134c-41.4212837,0-74.999939,33.5785446-74.999939,74.9998245
									v0.036705C0.1311921,116.4375687,33.6934776,149.9999695,75.0947189,149.9999695z"/>
								<path id="vk_3_" fill="#FFFFFF" d="M100.9555435,77.1493301c-2.7706375-2.9858704-6.8172379-4.9642792-11.1620636-5.9316635
									v-0.4012604c3.103447-1.3335419,5.8128433-3.4198837,7.6325302-6.2566147
									c1.8184433-2.8367882,2.7773819-6.0735931,2.7773819-9.7116051c0-3.1374359-0.6347046-5.907486-1.9524002-8.3102646
									c-1.3189926-2.4027786-3.300766-4.3217735-5.9708557-5.757164c-2.469986-1.3345985-5.1076813-2.2499695-7.9273911-2.6675453
									c-2.8209457-0.4171028-6.9612961-0.6649666-12.4340668-0.6649666H45.1038208v75.1034546h30.3189163
									c5.1728287,0,9.4360809-0.7098312,12.7902298-1.6444778c3.3540268-0.9340439,6.4326477-2.6245651,9.2358017-4.8267136
									c2.3696747-1.83535,4.2550964-4.2162628,5.6570816-7.0197678c1.4017563-2.8033905,2.0527115-6.0874863,2.0527115-9.7909927
									C105.1585617,84.1963425,103.7250061,80.1363831,100.9555435,77.1493301z M63.724514,51.1034203h1.7862816
									c3.3368301,0,5.8480225,0.070343,7.53405,0.1199989c1.6847916,0.0503044,3.1453018,0.3649635,4.3802414,0.8982849
									c1.3014374,0.5685539,2.2603149,1.4966316,2.8782806,2.7646103c0.6174393,1.268692,0.9261856,2.5088272,0.9261856,3.710247
									c0,1.6353111-0.2836227,3.0737152-0.8509903,4.3078232c-0.5676651,1.2352867-1.6020279,2.2039223-3.103447,2.9046516
									c-1.3692474,0.6346359-2.6955109,1.1255722-3.980278,1.1916656c-1.2846527,0.0672684-3.5289459,0.2406464-6.7327118,0.2406464
									H63.724514V51.1034203z M84.7591553,93.7188492c-0.7849655,1.4196014-2.0275269,2.494873-3.7298737,3.229538
									c-1.9357834,0.8340302-3.8381119,1.5329208-5.7065659,1.5996017c-1.8696899,0.067276-5.240036,0.3485336-10.1122742,0.3485336
									H63.724514V79.6551437h3.9390144c3.3368225,0,5.9984055,0.0611801,7.9844284,0.1115494
									c1.9853821,0.0497131,3.5453262,0.3103409,4.6805954,0.7436447c1.8687515,0.6680374,3.2704391,1.6602554,4.2047882,2.9622803
									c0.9344025,1.301384,1.4020462,3.1082993,1.4020462,5.4115906C85.9353867,90.6856842,85.5425797,92.3004227,84.7591553,93.7188492z"
									/>
								</svg>
						</span>
						<span class="foot_soc-btn fb" data-link="https://www.facebook.com/jotulint/">
								<?xml version="1.0" encoding="utf-8"?>
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
								<path fill="#47508D" d="M149.9269409,300h0.1461182C232.8754272,300,300,232.8751984,300,150.0730591v-0.07341
									C300,67.1570816,232.842804,0,150.0002289,0h-0.000351C67.1573181,0,0,67.1570816,0,149.999649v0.07341
									C0,232.8751984,67.1245728,300,149.9269409,300z"/>
								<path id="facebook_3_" fill="#FFFFFF" d="M164.0884705,245.1974792v-83.1396637h27.9066772l4.1788483-32.4020081h-32.0855255
									v-20.686348c0-9.3805695,2.6038208-15.7742691,16.0565948-15.7742691l17.1586914-0.0073318V64.2070923
									c-2.9676056-0.3928642-13.1532898-1.2754288-25.0020752-1.2754288c-24.737854,0-41.6734619,15.0990753-41.6734619,42.8300705
									v23.8940735h-27.9783249v32.4020081h27.9783249v83.1396637H164.0884705z"/>
								</svg>
						</span>
						<span class="foot_soc-btn ok" data-link="https://ok.ru">
							<?xml version="1.0" encoding="utf-8"?>
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									viewBox="0 0 150 150" enable-background="new 0 0 150 150" xml:space="preserve">
							<path fill="#D9912C" d="M74.9634705,149.9817352h0.0730591C116.4377136,149.9817352,150,116.4195099,150,75.0182648v-0.0001755
								C150,33.5968094,116.421402,0.018266,75.0001144,0.018266H74.999939C33.5786018,0.018266,0,33.5968094,0,75.0180893v0.0001755
								C0,116.4195099,33.5622864,149.9817352,74.9634705,149.9817352z"/>
							<g id="ok_3_">
								<path fill="#FFFFFF" d="M74.6930237,77.204155c11.6312485,0,21.0858917-9.4545822,21.0858917-21.0791512
									c0-11.6295357-9.4546432-21.0877838-21.0858917-21.0877838c-11.6282349,0-21.0855942,9.4582481-21.0855942,21.0877838
									C53.6074295,67.7495728,63.0647888,77.204155,74.6930237,77.204155z M74.6930237,47.3940887
									c4.8151932,0,8.7302704,3.916256,8.7302704,8.7309151c0,4.8103447-3.9150772,8.7271919-8.7302704,8.7271919
									c-4.8097534,0-8.7303238-3.9168472-8.7303238-8.7271919C65.9626999,51.3103447,69.8832703,47.3940887,74.6930237,47.3940887z"/>
								<path fill="#FFFFFF" d="M83.2238388,94.405304c4.2926941-0.9783859,8.4320984-2.6755905,12.2447357-5.0709763
									c2.8852005-1.8184433,3.7550507-5.6335602,1.9366074-8.5187607c-1.8166122-2.8912888-5.6280594-3.7611465-8.5186996-1.9426422
									c-8.6369247,5.4321594-19.7572021,5.4291458-28.3893394,0c-2.8906403-1.8185043-6.7024422-0.9486465-8.5159225,1.9426422
									c-1.8184433,2.8882751-0.9511299,6.7003174,1.9344826,8.5187607c3.8116875,2.3924332,7.9516258,4.0925903,12.2440186,5.0709763
									l-11.7882538,11.7882538c-2.4100494,2.4124146-2.4100494,6.3232269,0.0024223,8.7357025
									c1.2075081,1.2049637,2.787075,1.8087463,4.3663483,1.8087463c1.5820465,0,3.1640968-0.6037827,4.3714867-1.8087463
									l11.5788727-11.5840225l11.5888672,11.5840225c2.409996,2.4124146,6.3208694,2.4124146,8.733223,0
									c2.4149017-2.4124756,2.4149017-6.3257141,0-8.7357025L83.2238388,94.405304z"/>
							</g>
							</svg>
						</span>
						<span class="foot_soc-btn tw" data-link="https://twitter.com/">
							<?xml version="1.0" encoding="utf-8"?>
							<!-- Generator: Adobe Illustrator 22.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									viewBox="0 0 150 150" enable-background="new 0 0 150 150" xml:space="preserve">
							<path fill="#6C9FD3" d="M75.5380859,150h0.0730667c41.4011841,0,74.9634628-33.5624008,74.9634628-74.9634705v-0.036705
								C150.5746155,33.5785408,116.9960175,0,75.5747375,0h-0.0001755C34.1532822,0,0.5746207,33.5785408,0.5746207,74.9998245v0.036705
								C0.5746207,116.4375992,34.1369057,150,75.5380859,150z"/>
							<path id="twitter_3_" fill="#FFFFFF" d="M119.3875656,50.2329445c-3.034111,1.3456573-6.2954483,2.2560616-9.7183456,2.665184
								c3.4932404-2.0948563,6.1765747-5.4098129,7.439827-9.362484c-3.2695618,1.9402771-6.8906631,3.3477631-10.7451477,4.1066628
								c-3.0864182-3.2890053-7.4846268-5.3431931-12.3510132-5.3431931c-9.3449249,0-16.9213562,7.5761375-16.9213562,16.9204712
								c0,1.3268585,0.1497345,2.6179504,0.4382629,3.8556671c-14.0631142-0.7049255-26.5312309-7.4415398-34.8768463-17.6787224
								c-1.4568481,2.4984856-2.2912331,5.4049683-2.2912331,8.5059929c0,5.8704834,2.9874115,11.050518,7.5276642,14.0843315
								c-2.7737122-0.0878983-5.3827972-0.8480377-7.6640358-2.1167297c-0.0015373,0.0709991-0.0015373,0.1424637-0.0015373,0.2134628
								c0,8.1980667,5.8325882,15.037178,13.5733566,16.5918579c-1.419899,0.3867798-2.9152908,0.5934448-4.4578514,0.5934448
								c-1.090168,0-2.1506004-0.1060562-3.1840782-0.3030777c2.1532593,6.7214813,8.4026604,11.6142883,15.8069572,11.7500687
								c-5.7905045,4.5394287-13.0872116,7.2446289-21.0143051,7.2446289c-1.3662872,0-2.7131233-0.0806274-4.0369682-0.2376328
								c7.4882965,4.8024216,16.3828964,7.603447,25.938385,7.603447c31.1236229,0,48.144062-25.7846909,48.144062-48.1446495
								c0-0.7334175-0.0163193-1.4625816-0.0491257-2.1887894C114.2505035,56.6064835,117.1190948,53.6267014,119.3875656,50.2329445z"/>
							</svg>
						</span>
						<span class="foot_soc-btn yt" data-link="https://www.youtube.com/channel/UCniPelN3Qmt6-xj87QM3cyw">
							<?xml version="1.0" encoding="utf-8"?>
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									viewBox="0 0 150 150" enable-background="new 0 0 150 150" xml:space="preserve">
							<path fill="#BE3427" d="M74.9634705,150h0.0730591C116.4377136,150,150,116.4375992,150,75.0364761v-0.0366516
								c0-41.4212837-33.578598-74.9998245-74.9998779-74.9998245h-0.0002365C33.5786591-0.0000012,0,33.5785408,0,74.9998245v0.0366516
								C0,116.4375992,33.5622864,150,74.9634705,150z"/>
							<path id="youtube_x5F_alt_3_" fill="#FFFFFF" d="M115.5637283,56.1131821
								c-1.0124359-4.3962555-4.6087723-7.6390343-8.9360428-8.1225815C96.3766708,46.845871,86.0016937,46.840847,75.6721191,46.845871
								c-10.3311157-0.005024-20.7076263,0-30.9580498,1.1447296c-4.3282166,0.4835472-7.9230156,3.726326-8.9338531,8.1225815
								c-1.4398232,6.2616348-1.4555473,13.0950775-1.4555473,19.5426788c0,6.4469604,0,13.2803955,1.4382286,19.5432739
								c1.0108948,4.3956604,4.6059303,7.638382,8.935154,8.1219864c10.2498131,1.1440811,20.6265793,1.1504059,30.9564514,1.1440811
								c10.3301697,0.0063248,20.7057343,0,30.9561615-1.1447906c4.3281555-0.4828949,7.9246063-3.7256165,8.9363327-8.1218719
								c1.4392319-6.2622833,1.4480362-13.0957184,1.4480362-19.5426788
								C116.9950333,69.2082596,117.0022507,62.3748169,115.5637283,56.1131821z M66.9892044,86.9252777V64.0031509l21.8561401,11.4604187
								L66.9892044,86.9252777z"/>
							</svg>
						</span>
					</span>

		</div>
		<script>
		$('.foot_soc-btn').click(function(){
			window.open($(this).data('link'));return false;});
		</script>




		<div class="foot">
			<div class="container foot_wrap">
				<div class="row">
					<div class="col-md-2  foot_logo">
						<div class="foot_logo-img" style="cursor: pointer">
							<?xml version="1.0" encoding="utf-8"?>
							<svg version="1.1" id="logo" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
							  xmlns:svg="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
							  xmlns:dc="http://purl.org/dc/elements/1.1/" sodipodi:docname="logo-s.svg" inkscape:version="0.91 r13725" xmlns="http://www.w3.org/2000/svg"
							  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="4.5 0.83333 98.375 98.33334" enable-background="new 4.5 0.83333 98.375 98.33334"
							  xml:space="preserve">
								<sodipodi:namedview inkscape:zoom="0.35" inkscape:cx="-283.57143" id="base" borderopacity="1.0" bordercolor="#666666" pagecolor="#ffffff"
								  inkscape:cy="1205.7143" showgrid="false" inkscape:window-maximized="1" inkscape:pageopacity="0.0" inkscape:window-height="1018"
								  inkscape:current-layer="svg5425" inkscape:window-x="-8" inkscape:window-y="-8" inkscape:window-width="1920" inkscape:pageshadow="2"
								  inkscape:document-units="px">
								</sodipodi:namedview>
								<g id="layer1" inkscape:label="Layer 1" inkscape:groupmode="layer">
									<path id="path4770" inkscape:connector-curvature="0" fill="#4F5A6C" d="M102.36107,49.99997
								c0,26.88167-21.79181,48.67356-48.67357,48.67356S5.01393,76.88168,5.01393,49.99997S26.80574,1.32646,53.6875,1.32646
								S102.36107,23.11832,102.36107,49.99997z" />
									<g id="g4772" transform="matrix(0.33941339,0,0,0.33941339,1007.0117,-670.65219)">
										<g id="g4774">
											<path id="path4776" inkscape:connector-curvature="0" fill="#FF0000" d="M-2842.53174,2089.83301
										c-20.15405,43.27075,62.46191,71.6377,72.28149,13.68188c2.74731-16.21655-13.66528-30.78638-28.6543-36.13965
										c0.60278,7.80176,1.81567,15.3999,8.51855,21.16821c-16.62207,2.51855-17.89307-9.10498-13.8562-26.79712
										c-21.26489,1.99561-31.79395,10.49609-29.0542,34.72437L-2842.53174,2089.83301z" />
											<path id="path4778" inkscape:connector-curvature="0" fill="#F7C735" d="M-2806.90356,2064.82959
										c-23.29004,29.4812-5.92432,69.49854,32.58569,43.26172c-3.96338,23.54468-68.40723,38.78076-66.08911-11.8457
										c5.14087,4.87573,7.5,6.65991,11.60474,4.31665c-4.36475-19.90259,7.81763-35.9541,21.89722-35.73486L-2806.90356,2064.82959z"
											/>
											<path id="path4780" inkscape:connector-curvature="0" fill="#FF9C00" d="M-2807.42358,2065.2915
										c-20.39331,25.8147-2.71143,66.01929,33.04175,42.59546c-4.82593,18.35645-38.63989,25.40503-58.08228,4.13013
										c6.08398-0.01465,11.76636-0.27148,14.4563-2.323c-11.28125-12.45459-9.20361-32.83936,10.58398-44.40015L-2807.42358,2065.2915z
										" />
										</g>
										<path id="y_logo" fill="#F7C735" d="M-2764.82007,2139.17432h-47.27808c-14.86133,0-23.88965-4.88843-30.31592-12.09033
									c-6.427-7.20264-10.02319-17.41772-10.01514-27.87964c0-10.46216,3.57593-20.75879,10.01514-27.97021
									c6.43823-7.21118,15.50781-12.18066,30.31592-12.18066h47.27808c8.771,0.12378,16.83813-7.82983,16.83813-16.60132
									s-8.06714-16.72571-16.83813-16.60193l-47.28076,0.00134c-23.08325,0-42.50269,9.23938-55.03589,23.27905
									c-12.53418,14.03809-18.48315,32.11426-18.49683,49.9834c0,17.87085,5.87085,36.02661,18.40649,50.07568
									c4.54419,5.09302,10.0249,9.51392,16.23657,13.11499l-21.56152,26.729c-5.7666,7.14087-4.65234,17.6062,2.4895,23.37305
									c7.14136,5.7666,17.60596,4.65186,23.37231-2.49048c0.01099-0.0127,0.02197-0.02637,0.03296-0.04053l30.33936-37.70654
									c1.40674,0.06909,2.78345,0.20874,4.21973,0.20874h30.67676l0.1814,26.68018c-0.12378,8.77051,7.83032,16.8374,16.60156,16.8374
									c8.77173,0,16.72607-8.06738,16.60181-16.8374l-0.18237-43.28296
									C-2748.21948,2147.0835-2756.12744,2139.17456-2764.82007,2139.17432z" />
									</g>
								</g>
							</svg>
							<div class="foot_logo-title">Печной Центр</div>
						</div>

					</div>

					<div class=" col-12 col-sm-6 col-md-4 foot_menu">
						<ul class="foot_menu-list">
							<li>
								<a href="#" class="foot_menu-item">О печном центре</a>
							</li>
							<li>
								<a href="#" class="foot_menu-item">Статьи</a>
							</li>
							<li>
								<a href="#" class="foot_menu-item">Монтаж</a>
							</li>
							<li>
								<a href="#" class="foot_menu-item">Наши работы</a>
							</li>
							<li>
								<a href="#" class="foot_menu-item">Доставка</a>
							</li>
							<li>
								<a href="#" class="foot_menu-item">Контакты</a>
							</li>
							<li>
								<a href="#" class="foot_menu-item">Акции</a>
							</li>
							<li>
								<a href="#" class="foot_menu-item">Товары со скидкой</a>
							</li>
						</ul>
					</div>
					<div class="col-3 foot_txt">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse quibusdam quos a, laboriosam suscipit ad iste omnis cumque
						provident praesentium numquam ab velit maiores labore incidunt debitis amet libero, obcaecati quasi, nihil nemo sequi
						impedit consequuntur! Recusandae enim est tenetur, aliquam.
					</div>
					<div class="col-12 col-sm-6 col-lg-3 col-xl-3  foot_info">
						<div class="foot_info-phone">
							<i class="fa fa-phone"></i>7-800-77-88</div>
						<div class="foot_info_time">
							<i class="fa fa-clock-o"></i>Пн-Вс: 09:00 - 18:00 Без выходных</div>

						<div class="foot_info_title">Центр “Ясенево"</div>
						<div class="foot_info-tell">
							<i class="fa fa-phone"></i>8(495) 745-75-75</div>
						<div class="foot_info-address">
							<i class="fa fa-map-marker"></i>Москва, 38 км. МКАД, вл. 4A стр. 1</div>

						<div class="foot_info_title">Центр "Дмитровский"</div>
						<div class="foot_info-tell">
							<i class="fa fa-phone"></i>8(495) 755-78-78</div>
						<div class="foot_info-address">
							<i class="fa fa-map-marker"></i>Московсквая обл., Дмитровское ш, д. Грибки</div>
					</div>
				</div>
			</div>
			<!-- row  -->
		</div>
		<!-- <div class="foot_bottom"></div>  -->

	</footer>
	<div id="upbutton"></div>

	<!-- <div class="h800"></div>  -->

	<style type="text/css">
		#delbtn {
			width: 100%;
			height: 55px;
			display: block;
			cursor: pointer;
		}
	</style>
	<script src="js/scripts.min.js"></script>
</body>

</html>