@import "vars"
@import "fonts"
@import "fontAwesomeMicro"
@import "libs"
@import "jquery-fancybox-min"

::placeholder
	color: #666

::selection
	background-color: $gray
	color: #fff

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	background-color: #fbfaf8
	color: $darck
	input, textarea
			border: #666 1px solid
			outline: none
			&:focus:required:invalid
				border-color: red
			&:required:valid
				border-color: green
.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

#exper
	height: 75px
	border: 1px solid blue
	border-radius: 3px
	h3
		text-align: center


.topnav
	background-color: $darck
.topnav-wrap
	display: flex
	flex-direction: row
	justify-content: flex-start
.topnav-home-wrap
	padding-top: 1px
.topnav-home
	font-size: 24px
	display: block
	padding: 7px 15px
	line-height: 20px
	transition: all .25s
	color: #fff
	&:hover
		background-color: $accent
		color: $darck
		text-decoration: none
		transition: all .25s
	&:not([href]):not([tabindex])
		color: #fff

.topnav-list
	display: flex
	flex-direction: row
	padding-bottom: 1px
	padding-top: 1px
	margin: 0
	padding-left: 0
	a:not([href]):not([tabindex])
		color: #fff
.topnav-list li
	list-style: none
.topnav-item
	color: #fff

.topnav-item
	font-size: 0.9em
	display: block
	padding: 9px 15px
	line-height: 20px
	transition: all .25s
	&:hover,
	&:focus,
	&:active
		background-color: $accent
		color: $darck
		text-decoration: none
		transition: all .25s

.topnav_btn
	display: none
	width: 27px
	height: 27px
	margin: 5px 0
	border: none
	outline: none !important
	cursor: pointer
	transition: all .35s
	&:focus,
	&:active
		border: none
		outline: none !important
.topnav_btn-close
	background: url(../img/icon/burgers.svg) no-repeat transparent center

.topnav_btn-open
	background: url(../img/icon/closed.svg) no-repeat transparent center


.content
	min-height: 200px

@import "_head"
//@import "_hat"
@import "_search"
@import "_ofer"
@import "_breadcrumb"
@import "_showcase"
@import "_advantages"
@import "_work_block"
@import "_mainArticle"
@import "_breadcrumb"
@import "_section"
@import "_catalog"
@import "_list"
@import "_product_new"
@import "_pagination"
@import "_footer"
@import "_modal"
@import "_listarticls"
@import "_allneed"
@import "_install"
@import "_examples"
@import "_recomend"
@import "_aboutas"
@import "_contacts"
@import "_garbage"
@import "_schiedel"
@import "_pecnicam"
@import "_video"
@import "_scandinavian"
@import "_chimney"
@import "_schiedeluni"
@import "_power"
@import "_stovemaker"

@import "_actionschiedel"




@import "media" // Always at the end