.clear20 {
	clear: both;
	margin-bottom: 20px;
}
.schiedel_content {
	width: 1170px;
	margin: 0 auto;
}
.schiedel_content p {
	text-align: justify;
}
.schiedel_menu {
	margin: 20px auto;
	width: 91%;
}
.schiedel_menu_3 {
	margin: 20px auto;
	width: 80%;
}
.schiedel_menu_3, .schiedel_menu ul {
	margin: 0 auto;
}
.schiedel_menu ul li {
	list-style: none;
	float: left;
	display: block;
	background-color: #FCD228;
	border: 2px solid #C8C8CE;
	border-radius: 3px;
	width: 215px;
	margin: 0 20px;
	box-shadow: 0 0 3px rgba(122,122,122,0.5);
}
.schiedel_menu_3 ul li {
	list-style: none;
	float: left;
	display: block;
	background-color: #FCD228;
	border: 2px solid #C8C8CE;
	border-radius: 3px;
	width: 220px;
	margin: 0 35px;
	box-shadow: 0 0 3px rgba(122,122,122,0.5);
}
.schiedel_menu_3 ul li a, .schiedel_menu ul li a {
	font-size: 16px;
	text-decoration: none;
	text-align: center;
	display: block;
	color: #353c49;
	padding: 5px 20px;
}
.schiedel_menu_3 ul li a:hover, .schiedel_menu ul li a:hover {
	color: #111111;
	background-color: #ffcc33;
 box-shadow: 0 0 1px 1px rgba(48, 64, 80, 0.1)  transition: .3s;
}
.price_schidel_inu {
	border-collapse: collapse;
	font-size: 13px;
	font-weight: 500;
	width: 100%;
}
.price_schidel_inu td {
	color: #333333;
	border: 1px solid #efe6cf;
	padding: 7px 10px;
}
.img_schidel img {
	margin: 3px 2px;
}
.zag_table_schiedel {
	background-color: #c8c8ce;
}
.color_line {
	background-color: #EDE7DA;
}
.manual_schidel_uni {
	width: 80%;
	margin: 0 auto;
}
.manual_schidel_uni td {
	padding: 2px 2px;
}
.manual_schidel_uni td a {
	color: #4f5a6c;
	text-decoration: none;
}
.manual_schidel_uni td a:hover {
	color: #4f5a6c;
	text-decoration: underline;
}
.price_Permeter_black {
	background-color: #E1E1E7;
}
.price_Permeter_grey {
	background-color: #EFEBE1;
}
.long_td_Permeter {
	width: 10%;
}
#zvonok {
	background: #C8C8CE;
	padding: 5px;
	border-radius: 5px;
	margin-top: 20px;
	width: 150px;
	color: #fff;
	font-size: 18px;
	text-align: center;
}
.chimney_type {
	width: 220px;
	float: left;
	border-radius: 3px;
	background-color: #F8F6F0;
	position: relative;
	text-align: center;
	margin: 5px 20px 10px 20px;
	display: block;
	box-shadow: 0 0 3px rgba(122,122,122,0.5);
}
.chimney_type a {
	text-decoration: none;
	display: block;
	color: #4F5A6C;
	padding: 0 0 5px 0;
	padding: 0 0 10px 0;
}
.chimney_type a:hover {
	text-decoration: none;
	display: block;
	color: #414751;
	padding: 0 0 10px 0;
	box-shadow: 0 0 6px rgba(122,122,122,0.8);
}
.schiedel_content ul li a {
	color: #4f5a6c;
	cursor: pointer;
}
.schiedel_content h3 a {
	color: #4f5a6c;
}
.link-price {
	float: right;
	color: #4f5a6c;
	font-size: 16px;
	font-weight: 600;
}
.link-price:hover {
	color: #ffcc00;
	-webkit-transition: top 1s ease-out 0.5s;
	-moz-transition: top 1s ease-out 0.5s;
	-o-transition: top 1s ease-out 0.5s;
	transition: top 1s ease-out 0.5s;
}

.thank-message {
	height: auto;
	min-height: 300px;
}
.thank-message p {
	font-weight: bold;
	margin-left: 15px;
	margin-top: 14px;
	font-size: 18px;
}